<app-header></app-header>
<div class="order-confirmation-container">
  <h2 class="order-confirmation-title">Order Confirmation</h2>
  <p class="order-status">Your order has been placed successfully!</p>
  <p class="delivery-time">It will arrive in <strong>1 hour</strong>.</p>
  
  <div class="user-details">
    <h3>Delivery Address</h3>
    <p>{{ userAddress }}</p>
    
    <h3>Phone Number</h3>
    
  </div>
  
  <div class="contact-store">
    <p>If you have any queries, call us at:</p>
    <p class="store-number"><strong>{{ storePhonenumber }}</strong></p>
  </div>
</div>

