<app-header></app-header>
<div class="container" *ngIf="user; else noUser">
    <h1 class="title">Profile Information</h1>
    <div class="profile-card">
      <div class="profile-avatar">
        <img 
        [src]="user.avatar || 'assets/download.png'" 
        alt="User Avatar" />
      </div>
      <div class="profile-details">
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>ID:</strong> {{ user.id }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
      </div>
    </div>
  </div>
  
  <ng-template #noUser>
    <div class="no-user">
      <p>No user data available. Please log in.</p>
    </div>
  </ng-template>
  